
  <div id="brand-primary-image" title="{{shop.name}}">
        <a href="/">
        <!-- <span>Delta Children</span> -->
          <img src="//cdn.shopify.com/s/files/1/0578/7201/t/5/assets/logo.png?17621110644013986233" alt="Delta Children">
      </a>
  </div>


<!-- <img class="header__logo-image header__logo-image--desktop "
src="//cdn.shopify.com/s/files/1/0578/7201/files/logo_80x.png?v=1529950859"
srcset="//cdn.shopify.com/s/files/1/0578/7201/files/logo_80x.png?v=1529950859 1x, //cdn.shopify.com/s/files/1/0578/7201/files/logo_80x@2x.png?v=1529950859 2x"
alt="Delta Children"> -->
