{{ 'home.css' | asset_url | stylesheet_tag }}

<div class="grid" id="home-page-container">
  <div id="module_1" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="inner-container">
      <h1 class="gotham-black">50 Years of Safety, Style &amp; Innovation</h1>
      <p class="gotham-book">That's Why 1 Out Of 2 Children Sleep In Our Products!</p>
    </div>
    <img alt="Delta Children" class="background" src="https://cdn.shopify.com/s/files/1/0578/7201/files/header-1300x700.jpeg?11658272526583916474">
    <div id="m1_banner-icon-holder">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/jeep_brand_mark.png" alt="Jeep logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Simmons.png" alt="Simmons logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Serta-Logo-2017_1.png" alt="Serta logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/beautyrest-logo.png" alt="Beautyrest logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/nick.png" alt="Nickelodeon logo">
      <img id="dc-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta_children_logo-2016-print-version.png" alt="Delta Children logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Disney_Signature_blue.png" alt="Disney logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/WB-Usage-Logo.png" alt="Warner Brothers logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB-01_1.png" alt="MLB logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/USM_B_0004_SS11.png" alt="Marvel logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/eone.png" alt="Entertainment One logo">
    </div>
  </div>

  <div id="module_2" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="module_2_container">
      <h2><span class="gotham-black">Expecting?</span> <span class="gotham-book">Build your Own Nursery Furniture Set</span></h2>
      <a class="gotham-black" href="/pages/bundles">SAVE 40% NOW!</a>
      <!-- Expecting section -->
      <img id="pregnant-img" alt="Delta Mom" src="//cdn.shopify.com/s/files/1/0578/7201/files/Pregnant_ICON-small.png">
    </div>
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Expecting_bar.jpg">

  </div>

  <div id="module_3" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div id="parent-center-container">
    <h2 class="cartoonist">PARENT CENTER &bull; CHOOSE YOUR STAGE:</h2>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Pregnancy</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Newborn</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Baby</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Toddler</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Kid</h4>
      </a>
    </div>
  </div>
  <!-- Parent Center section -->
  <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Parent_Center_Banner.jpg">
</div>

<div id="module_4" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="inner-container">
    <div id="m4-text-img-container">
      <h2 class="cartoonist"><span>Trust Us,</span> We're Obsessed With Safety</h2>
      <p class="gotham-book">
        <span>We Test Above And Beyond The Standards For Safety &amp;</span>
        <span>We Don't Sleep Until We Know Your Little One is Safe!</span>
        <span>That's Our Promise To You</span>
        <a href="/pages/leaders-in-safety">Learn How We Are Safe ></a>
      </p>
      <img class="m4-img" id="img-1" src="//cdn.shopify.com/s/files/1/0578/7201/files/jpma.png" alt="JPMA">
      <img class="m4-img" id="img-2" src="//cdn.shopify.com/s/files/1/0578/7201/files/Artboard_193.png" alt="Delta Children, 50 years">
      <img class="m4-img" id="img-3" src="//cdn.shopify.com/s/files/1/0578/7201/files/Artboard_192.png" alt="Greenguard">
      <img class="m4-img" id="img-4" src="//cdn.shopify.com/s/files/1/0578/7201/files/certipur.png" alt="Certipur">
      <img class="m4-img" id="img-5" src="//cdn.shopify.com/s/files/1/0578/7201/files/toy_industry.png" alt="Toy Industry Association">
      <img class="m4-img" id="img-6" src="//cdn.shopify.com/s/files/1/0578/7201/files/ASTM_LOGO_f423d99b-cbb4-4ffc-a7da-9f8e873bf71e.png" alt="ASTM">

    </div>
  </div>
  <!-- Trust Us section -->
  <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Safety-1330x700.jpg">
</div>

<div id="module_5" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="inner-container">
    <h2 class="cartoonist">Hot Products</h2>
    <div id="hot-prod-img-container">
      <a href="/collections/jeep-strollers">
        <div class="img-text">
        <h6 class="gotham-book"><span class="gotham-black">JEEP</span> STROLLERS</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-STROLLERS.jpg" alt="Delta Children Jeep Stroller">
      </div>
      </a>
      <a href="/pages/mattresses">
        <div class="img-text">
          <h6 class="gotham-black">MATTRESSES</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-MATTRESSES.png" alt="Delta Children Mattress">
          <img id="mattress-button" src="//cdn.shopify.com/s/files/1/0578/7201/files/Mattress_Button.png">
        </div>
      </a>
      <a href="/products/cherokee-ride-on-push-car">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">RIDE-</span>ON</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-RIDE_ON.jpg" alt="Delta Children Ride On">
        </div>
      </a>
      <a href="/collections/twin-beds">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">TWIN</span> BEDS</h6>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-TWIN_BEDS.jpg" alt="Delta Children Twin Bed">
      </div>
      </a>
      <a href="/pages/kids-furniture">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">TODDLER</span> FURNITURE</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-TODDLER.jpg" alt="Delta Children Toddler Furniture">
        </div>
      </a>
    </div>
    <div id="proud-partners-container">
      <div id="pp-row1">
        <img alt="Batman" src="//cdn.shopify.com/s/files/1/0578/7201/files/Batman.png?6730156070795875799">
        <img alt="Wonder Woman" src="//cdn.shopify.com/s/files/1/0578/7201/files/Wonder_Woman.png">
        <a href="/pages/characters"><h4 class="gotham-black">PROUD PARTNERS</h4></a>
        <img alt="Mickey Mouse" src="//cdn.shopify.com/s/files/1/0578/7201/files/Mickey_Disney_Junior_Logo_copy.png">
        <img alt="Minnie Mouse" src="//cdn.shopify.com/s/files/1/0578/7201/files/CC549026_copy.png">
      </div>
      <div id="pp-row2">
        <img alt="Justice League" src="//cdn.shopify.com/s/files/1/0578/7201/files/Justice_League.png">
        <img alt="DC Super Hero Girl" src="//cdn.shopify.com/s/files/1/0578/7201/files/DC_Superhero_Girls_Logo_copy.png">
        <img alt="Spiderman" src="//cdn.shopify.com/s/files/1/0578/7201/files/USM_B_0001_SS11_copy.png">
        <img alt="Avengers" src="//cdn.shopify.com/s/files/1/0578/7201/files/AVAS_B_0001_copy.png">
        <img alt="Blaze" src="//cdn.shopify.com/s/files/1/0578/7201/files/blaze-logo_copy.png">
        <img alt="Paw Patrol" src="//cdn.shopify.com/s/files/1/0578/7201/files/Paw-Patrol-logo_copy.png">
        <img alt="Teenage Mutant Ninja Turtles" src="//cdn.shopify.com/s/files/1/0578/7201/files/NINJA_TURTLES_copy.png">
        <img alt="Peppa Pig" src="//cdn.shopify.com/s/files/1/0578/7201/files/Peppa-logo-with-Peppa_copy.png">
        <img alt="PJ Masks" src="//cdn.shopify.com/s/files/1/0578/7201/files/dup1-PJ-MASKS-Logo-CMYK_copy.png">
        <img alt="Sesame Street" src="//cdn.shopify.com/s/files/1/0578/7201/files/Sesame-Street-New-Logo---Gold-Outline_copy.png">
        <img alt="MLB" src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB-01_copy.png">
        <img alt="Disney Princess" src="//cdn.shopify.com/s/files/1/0578/7201/files/princess_copy.png">
        <img alt="Frozen" src="//cdn.shopify.com/s/files/1/0578/7201/files/frozen_copy.png">
        <img alt="Cars" src="//cdn.shopify.com/s/files/1/0578/7201/files/CC562020-WHITE-BG_copy.png">
      </div>
    </div>
  </div>
</div>

</div>
