{{ 'home.css' | asset_url | stylesheet_tag }}

<div class="grid" id="home-page-container">
  <div id="module_1" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h1 class="cartoonist">50 Years of Safety, Style &amp; Innovation</h1>
    <p>That's Why 1 Out Of 2 Children Sleep In Our Products!</p>
    <!-- Banner section -->
  </div>
  <div id="module_2" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2><span class="gotham-black">Expecting?</span> <span class="gotham-book">Build your Own Nursery Furniture Set</span></h2>
    <a href="/pages/bundles">SAVE 40% NOW!</a>
    <!-- Expecting section -->
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/BUILD_YOUR_OWN.jpg">
  </div>
  <div id="module_3" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div id="parent-center-container">
      <h2 class="cartoonist">PARENT CENTER - CHOOSE YOUR STAGE</h2>
      <div class="pc-buttons">
        <a href="">
          <h4>Pregnancy</h4>
        </a>
      </div>
      <div class="pc-buttons">
        <a href="">
          <h4>Newborn</h4>
        </a>
      </div>
      <div class="pc-buttons">
        <a href="">
          <h4>Baby</h4>
        </a>
      </div>
      <div class="pc-buttons">
        <a href="">
          <h4>Toddler</h4>
        </a>
      </div>
      <div class="pc-buttons">
        <a href="">
          <h4>Kid</h4>
        </a>
      </div>
    </div>
    <!-- Parent Center section -->
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Parent_Center_Back.jpg">
  </div>
  <div id="module_4" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2 class="cartoonist"><span>TRUST US,</span> WE'RE OBSESSED WITH SAFETY</h2>
    <p>
      <span>We Test Above And Beyond The Standards For Safety &amp;</span>
      <span>We Don't Sleep Until We Know Your Little One is Safe!</span>
      <span>That's Our PRomise To You</span>
      <a href="">Learn How We Are Safe ></a>
    </p>
    <!-- Trust Us section -->
    <img class="lazy background" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Safety_Back.jpg">
  </div>
  <div id="module_5" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2 class="cartoonist">Hot Products</h2>
    <!-- Hot products section -->
    <div id="proud-partners-container">
    </div>
  </div>
  <div id="module_6" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2 class="cartoonist">SPOTTED WITH DELTA CHILDREN</h2>
    <!-- Spotted with Delta Children section -->
    <img class="lazy background" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Celeb.jpg">
  </div>
  <div id="module_7" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2>
      <span>READY TO</span><span> CONVERT</span>
      <span>YOUR CRIB?</span>
    </h2>
    <!-- Ready to Convert Your Crib section -->
    <img class="lazy background" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Convert_Crib_Back.jpg">
  </div>
  <div id="module_8" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2 class="cartoonist">EVERY PURCHASE HAS A PURPOSE</h2>
    <p>
      <span>Through Your Purchase, Delta Children Is Able To Provide</span>
      <span>Safe Sleep Environments For Babies Around The World.</span>
      <span>$4 Million Already Donated To Families In Need!</span>
    </p>
    <a href=""> Learn More ></a>

    <!-- Every Purchase has a purpose section -->
    <img class="lazy background" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Charity.jpg">
  </div>
  <div id="module_9" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <h2>Follow Us @deltachildren On Social Media</h2>
    <span>For Giveaways, Resources, And A Daily Dose Of Love And Laughter</span>
    <div id="instagram-feed-container">
    </div>
    <div id="icon-container">
      <a href="">Instagram</a>
      <a href="">Facebook</a>
      <a href="">Twitter</a>
      <a href="">Pinterest</a>
      <span>Tag<span> #deltachildren</span> For a Chance to be Featured</span>
    </div>
    <!-- Follow Us on Socia Media section -->
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
{{ 'home.js' | asset_url | script_tag }}
