<div class="row" style="">
  <div style="text-align:center;" class="instaWrapper">
    <h2>
      <ul class="social-icons show-for-small-only">
        {% include 'socialMediaHome' %}
      </ul>
      <!-- <a target="_blank" href="http://www.instagram.com/deltachildren" id="social-media-tagline"><br><div class="mobile_text">Follow Us On Social Media<br>For A Daily Dose Of Love And Laughter</div><br><span id="tagInstaTitle" class="show-for-medium-up">Tag <span style="">#DeltaChildren</span> for a chance to be featured</span></a>
      <ul class="social-icons show-for-medium-up">
        {% include 'socialMediaHome' %}
      </ul> -->
    </h2>
  </div>
</div>

<div data-is data-is-source="@deltachildren" data-is-rows="1" data-is-gutter="20" data-is-responsive="%7B%22420%22%3A%7B%22columns%22%3A%222%22%2C%22rows%22%3A%221%22%2C%22gutter%22%3A%2220%22%7D%2C%22600%22%3A%7B%22columns%22%3A%224%22%2C%22rows%22%3A%221%22%2C%22gutter%22%3A%2220%22%7D%7D" data-is-info="likesCounter, description" data-is-popup-info="username, instagramLink, likesCounter, passedTime, description"></div>
