<!-- hides left nav bar -->
<style>
    header.page-header{
    display: none;
  }

 #content-wrap > div > div.medium-8.large-9.columns.medium-push-4.large-push-3.primary{
   left: 0;
       	width: 100%;

  }
  #bv_background{
      width: 100%;
      background-size: cover;
    }

  #content-wrap > div > div.medium-4.large-3.columns.medium-pull-8.large-pull-9.secondary.show-for-medium-up{
    display: none !important;
  }
  @media only screen and (max-width: 1024px){
    #content-wrap > div > div.medium-8.large-9.columns.medium-push-4.large-push-3.primary{
  		left: 0;
    	width: 100%;
  	}
     #bv_background{
      width: 100%;
      background-size: cover;
    }
  }

</style>


<div id='bv_background'>
  <div class='row' id="bv-header">
    <div class='large-12 medium-12 small-12 column'>
      <h1 id='bv_title'>BEST<span>Value</span><br /><span id='select-text'>Select Mattress Type</span></h1>
    </div>
  </div>
  <div id="double-label-slider"></div>
</div>
<!--   for mattress collection slider -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {{ 'slider.js' | asset_url | script_tag }}
  {{'touchPunch.js' | asset_url | script_tag }}

<script>
  // IIFE - Immediately Invoked Function Expression
  (function(yourcode){
    // The global jQuery object is passed as a parameter
    yourcode(window.jQuery, window, document)
  }(function($, window, document){
    // The $ is now locally scoped
    // Listen for the jQuery ready event on the document
    $(function(){
      // The DOM is ready!
    })
    var doubleLabels = [
      "<a><div id='icon-all'><h6>ALL</h6></div><img id='all-icon' src='https://cdn.shopify.com/s/files/1/0578/7201/files/BETTER-BASICS-ALL-SMALL-icon.png?91878529882770606393'></a>",
      "<a><div id='Thermo-Bonded-Polyester'><h6>THERMO-BONDED POLYESTER</h6><p>increases durability and support</p></div><img src='https://cdn.shopify.com/s/files/1/0578/7201/files/BV_thermo-bonded.png?5185893324768103073'><a/>",
      "<a><div id='Foam-Core'><h6>FOAM CORE</h6><p>lightweight high-quality material for ultimate comfort</p></div><img src='https://cdn.shopify.com/s/files/1/0578/7201/files/BV_Foam-Core.png?5185893324768103073'></a>",
      "<a><div id='Innerspring-Coils'><h6>INNERSPRING COILS</h6><p>maximum balanced support & pressure relief</p></div><img src='https://cdn.shopify.com/s/files/1/0578/7201/files/BV_Innerspring-Coils.png?5185893324768103073'></a>"
    ];
    $("#double-label-slider")
      .slider({
          max: 3,
          min: 0,
          value: 0,
          animate: 400,
          slide: function(){
            return false
          }
      })
      .slider("pips", {
          rest: "label",
          labels: doubleLabels
      });

      $(".ui-slider-label[data-value='0'] a").on('click', function(){
        $("#double-label-slider").slider("value", 0)
        removeFilters();
      });
      $(".ui-slider-label[data-value='1'] a").on('click', function(){
        $("#double-label-slider").slider("value", 1)
        removeFilters();
        $('.checkBox[value="Thermo-Bonded-Polyester"]').click();
      });
      $(".ui-slider-label[data-value='2'] a").on('click', function(){
        $("#double-label-slider").slider("value", 2)
        removeFilters();
        $('.checkBox[value="Foam-Core"]').click();
      });
      $(".ui-slider-label[data-value='3'] a").on('click', function(){
        $("#double-label-slider").slider("value", 3)
        removeFilters();
        $('.checkBox[value="Innerspring-Coils"]').click();
      });

  // ----- jQuery Filtering Product Types ----- //
    function removeFilters(){
      $('.checkBox').each(function(i){
        if($(this).prop("checked") === true){
          $(this).click()
        }
      })
    }

    setTimeout(function(){
      $('#filtersWrap').hide()
    })
  }))
</script>
