<!-- hides left nav bar -->
<style>
    header.page-header{
    display: none;
  }
  #content-wrap > div{
    padding-top: 70px;
    
  }

 #content-wrap > div > div.medium-8.large-9.columns.medium-push-4.large-push-3.primary{
   left: 12.5%;
  }

  #content-wrap > div > div.medium-4.large-3.columns.medium-pull-8.large-pull-9.secondary.show-for-medium-up{
    display: none !important;
  } 
  @media only screen and (max-width: 1024px){
    #content-wrap > div > div.medium-8.large-9.columns.medium-push-4.large-push-3.primary{
  		left: 0;
    	width: 100%;
  	}
  }
   @media only screen and (max-width: 641px){
    #content-wrap > div{
    padding-top: 0px;
    
  }

  }
  
  
</style>

<div class= "row move-up" id="header-image">
  <div class="large-12 medium-12 small-12">
    <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/Dream-Team.jpg?1706918237598111311">
  </div>
</div>

<div class="row move-up" id="brands">
  <div class="large-12">
    <h3 id="brand-names">We've joined forces with the <span>biggest names</span> in mattresses to ensure that babies get the best night's sleep. <br/> Because when they sleep well, so will you!</h3>
  </div>
  <div class="brand-logos">
    <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/Beautyrest.jpg?7860515622168761543"/>
    <a class="m-text-link" href="/collections/beautyrest-mattresses"> Beautyrest by SimmonsKids Mattresses</a>
  </div>
  <div class="brand-logos">
    <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/Serta.jpg?7860515622168761543"/>
    <a class="m-text-link" href="/collections/serta-mattresses"> Serta Mattresses</a>
  </div>
  <div class="brand-logos">
    <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta-Logo.jpg?7860515622168761543"/>
    <a class="m-text-link" href="/collections/delta-children-mattress"> Delta Mattresses</a>
  </div>
</div>

<div class="row move-up" id="certified">
  <div class= "large-12">
    <h1 id="certified-head">Mattress Selector</h1>
    <h3 id="certified-tail">Find The Right Mattress For Your Baby's Sleeping Needs</h3>
  </div>
  <div id=certified-logos-mobile-container>
    <div class= "certified-logos desktop">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/ASTM.jpg?7860515622168761543"/>
    </div>
    <div class= "certified-logos mobile">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/mobile_astm.jpg?1400126117914585092"/>
    </div>
    <div class="certified-logos desktop">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/MADE-IN-USA.jpg?7860515622168761543"/>
    </div>
    <div class= "certified-logos mobile">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/mobile_made-usa.jpg?1400126117914585092"/>
    </div>
    <div class="certified-logos desktop">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/GREENGUARD.jpg?7860515622168761543"/>
    </div>
    <div class= "certified-logos mobile">
      <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/mobile_greenguard.jpg?1400126117914585092"/>
    </div>
  </div>
</div>

<div class="row move-up desktop" id="hero">
  <div class="large-5 medium-5 small-5 columns hero-shop">
    <h2 id='value'>BEST <br/> VALUE</h2>
    <a href='/collections/value' id='value-shop'>Shop Now</a>
  </div>
  <div class="large-7 medium-7 small-7 columns hero-text">
    <p id='value-p'>
      Sleep Technology and innovation are at your fingertips. We've mastered the art of sleep and now bring you comfort and safety, all at a price you'll love.
    </p>
  </div>
  <div class="large-5 medium-5 small-5 columns hero-shop">
    <h2 id='choice'>THE NATURAL CHOICE</h2>
    <a href='/collections/natural' id='choice-shop'>Shop Now</a>
  </div>
  <div class="large-7 medium-7 small-7 columns hero-text">
    <p id='choice-p'>
      Feel good about what goes underneath your little one's head. We use natural cotton and soy enhanced foams to help you create the healthiest sleep environment.
    </p>
  </div>
  <div class="large-5 medium-5 small-5 columns hero-shop">
    <h2 id='experience'> EXPERIENCE LUXURY</h2>
    <a href='/collections/luxury' id='experience-shop'>Shop Now</a>
  </div>
  <div class="large-7 medium-7 small-7 columns hero-text">
    <p id='experience-p'>
      When you have a newborn we know sleep is the ultimate luxury. If you're seeking the best night sleep for the whole family look no further than this collection of top-of-the-line crib and toddler mattresses featuring the highest quality materials combined with groundbreaking innovation.
    </p>
  </div>
</div>

<div class='mobile row' id='mobile-bottom-container'>
  <div class='bottom-background-container' id=bv-container>
    <h2 id='value'>BEST <br/> VALUE</h2>
    <p id='value-p'>
        Sleep Technology and innovation are at your fingertips. We've mastered the art of sleep and now bring you comfort and safety, all at a price you'll love.
    </p>
    <a href='/collections/value' id='value-shop'>Shop Now</a>
    <h3 class='dollar-sign'>$ - $$</h3>
  </div>
  <div class='bottom-background-container' id=nc-container>
    <h2 id='choice'>THE NATURAL CHOICE</h2>
    <p id='choice-p'>
        Feel good about what goes underneath your little one's head. We use natural cotton and soy enhanced foams to help you create the healthiest sleep environment.
    </p>
    <a href='/collections/natural' id='choice-shop'>Shop Now</a>
    <h3 class='dollar-sign'>$$ - $$$</h3>
  </div>
  <div class='bottom-background-container' id=el-container>
    <h2 id='experience'> EXPERIENCE LUXURY</h2>
    <p id='experience-p'>
        When you have a newborn we know sleep is the ultimate luxury. If you're seeking the best night sleep for the whole family look no further than this collection of top-of-the-line crib and toddler mattresses featuring the highest quality materials combined with groundbreaking innovation.
    </p>
    <a href='/collections/luxury' id='experience-shop'>Shop Now</a>
    <h3 class='dollar-sign'>$$$ - $$$$</h3>
  </div>
</div>
