 <div class="sidenav-container">
  <div class="sidenav-header">
 	<h1>{{collection.title}}</h1>
  </div>
  {{linklist.handle}}
  	<nav class="navigation">
      <ul class="mainmenu">
        <li><a href="#">Nursery Furniture</a></li>
        <ul class="submenu">
          <li><a href="#">Nursery Furniture Sets</a></li>
          <li><a href="#">Cribs</a></li>
          <li><a href="#">Gliders & Rocking Chairs</a></li>
          <li><a href="#">Dressers & Changers</a></li>
          <li><a href="#">Nightstands</a></li>
          <li><a href="#">Bookcase & Hutches</a></li>
          <li><a href="#">Nursery Inspiration</a></li>
        </ul>
        <li><a href="#">Strollers & Baby Gear</a></li>
        <li><a href="#">Kids Furniture</a></li>
        <li><a href="#">Mattresses</a></li>
        <li><a href="#">Matress Pads & Covers</a></li>
        <li><a href="#">Storage and Décor</a></li>
        <li><a href="#">Crib Conversions & Accessories</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
  	</nav>
</div>
