<header class="page-header">

  <div class="row padded-v">
    <div class="twelve columns">
      <div class="table">
        <div class="cell">
          <h1>{{ page-header }}</h1>
        </div>
        <div class="cell">
          <div id="page-header-actions">
            {% if has_crumbs %}
              {% include 'breadcrumbs' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
