<style>
#path-footer{
  background-color: #2f5ab7;
  color: white;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  max-width: none;
}
.description{
  padding-right: 10% !important;
  padding-left: 5% !important;
}
#path-footer .text{
  color: white !important;
  margin-bottom: .2em;
  letter-spacing: 1.2px;
  font-size: 80%;
}
.footer-list{
  list-style: none;
}
h5.title {
  font-weight: bold;
  font-size: 90%;
  padding-bottom: 5px;
  margin-left: 1.1rem;
  text-align: left;
  font-family: inherit;
}
aside.footer-widgets{
  margin-top: 0;
}
.has-sidebar.sidebar-left aside.sidebar{
  right: 0;
}
ul#left-hook li.nav-item{
  width: 75%;
}
@media only screen and (max-width: 64em) and (min-width: 40.063em){
  .top-bar-section ul {
    display: block;
  }
  ul#left-hook li.nav-item{
    width: 75%;
  }
}

#path-footer h6.text:hover{
  color: grey !important;
}
h4#desc-text{
  letter-spacing: 1.5px;
  font-size: 100%;
  color: white !important;
  padding-left: 5% !important; /*inserted SY*/
  padding-right: 10% !important; /*inserted SY*/
}
#path-footer h5.blog-sale:hover{
  color: grey !important;
}
i{
  display: none;
}
/*medium-sized screens*/
@media only screen and (max-width: 1025px){
  .description{
    padding-left: 0 !important;
    margin-left: 1.1rem !important;
    padding-bottom: 30px;
}
}
/*small sized screens*/
@media only screen and (max-width: 641px){
  .description{
  display: none;
  }
  i.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    margin-top: 2px;
    right: 25%;
  }
  i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 6px;
  }
  .footer-list{
    display: none;
  }
  .logo-holder{
    padding-bottom: 30px;
  }
  #logo{
    width: 30%;
  }
  #path-footer{
    text-align: center;
    background-color: #487ed6;
  }
  h5.title{
    margin-left: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  h6.text{
    margin-bottom: .5em;
  }
  .widget-header{
    display: none;
  }
  #footer-widget-container{
    text-align: center;
  }
  #site-ui-footer{
    padding-top: 0;
  }
  .footer-widgets .widgets .row .large-5 {
    margin-left: 0 !important;
  }
  .widget-newsletter form{
    position: relative;
    left: 10%;
  }
  .widget-newsletter p{
    font-size: 85%;
    font-style: italic;
    position: relative;
    width: 80%;
    left: 10%;
  }
  ul.social-links {
    width: 100%;
    margin: 0;
    color: white;
    position: relative;
    left: 10%;
    padding-top: 30px;
  }
  ul.social-links li {
    width: 16%;
    margin-left: 0;
    position: relative;

  }
  ul.social-links i{
    color: #487ed6;
    font-size: 200%;
    width: 35px;
    background-color: white;
    border-radius: 5px;
    height: 35px;
    position: relative;
    padding-top: 2.5px;
   }
   section.widget.widget-social-links{
     display: none;
   }
   section.widget.widget-newsletter{
     border-color: #487ed6 !important;
     padding-bottom: 0;

   }
   aside.footer-widgets .widget{
     margin-bottom: 0;
     padding-bottom: 0;
   }
   aside.footer-widgets{
     padding-bottom: 0;
   }
}


</style>

<div class="row" id="path-footer">
  <div class="small-12 medium-12 large-5 columns description">
    <h4 id="desc-text">Delta Children is the world's leading crib manufacturer. Shop our collection of nursery furniture, kids&#39; furniture, cribs, baby strollers, mattresses, beds and more products.</h4>
  </div>

  <div class="small-12 medium-6 large-2 columns">
    <h5 class="text title">SHOP PRODUCTS<i class="arrow down"></i></h5>
    <ul id="shop-products" class="footer-list">
      <li><a href="/pages/nursery"><h6 class="text">Nursery Furniture</h6></a></li>
      <li><a href="/pages/bundles"><h6 class="text">Nursery Furniture Sets</h6></a></li>
      <li><a href="/collections/cribs"><h6 class="text">Cribs</h6></a></li>
      <li><a href="/collections/gliders"><h6 class="text">Gliders</h6></a></li>
      <li><a href="/collections/strollers"><h6 class="text">Strollers</h6></a></li>
      <li><a href="/pages/baby-gear"><h6 class="text">Baby Gear</h6></a></li>
      <li><a href="/pages/kids-furniture"><h6 class="text">Kids&#39; Furniture</h6></a></li>
      <li><a href="/collections/toddler-beds"><h6 class="text">Toddler Beds</h6></a></li>
      <li><a href="/pages/mattresses"><h6 class="text">Mattresses</h6></a></li>
      <li><a href="/collections/storage-decor"><h6 class="text">Storage &amp; D&eacute;cor</h6></a></li>
      <li><a href="/pages/crib-conversions-accessories"><h6 class="text">Guardrails &amp; Crib Conversions</h6></a></li>
      <li><a href="/pages/characters"><h6 class="text">Characters</h6></a></li>
      <ul>
  </div>
  <div class="small-12 medium-6 large-2 columns">
    <h5 class="text title">OUR STORY<i class="arrow down"></i></h5>
    <ul id="our-story" class="footer-list">
      <li><a href="/pages/about-us"><h6 class="text">About Us</h6></a></li>
      <li><a href="/pages/articles"><h6 class="text">Press Room</h6></a></li>

    </ul>
    <h5 class="text title">CHILD SAFETY<i class="arrow down"></i></h5>
    <ul id="child-safety" class="footer-list">
      <li><a href="/pages/leaders-in-safety"><h6 class="text">Leaders in Child Safety</h6></a></li>
      <li><a href="/pages/safe-sleep"><h6 class="text">Safe Sleep Campaign</h6></a></li>
      <li><a href="/pages/safety-tips"><h6 class="text">Nursery Safety Tips</h6></a></li>
      <li><a href="/pages/toddler-safety-tips"><h6 class="text">Toddler Safety Tips</h6></a></li>
    </ul>
  </div>
  <div class="small-12 medium-6 large-2 columns">
    <h5 class="text title">HELP CENTER<i class="arrow down"></i></h5>
    <ul id="help-center" class="footer-list">
      <li><a href="/pages/product-registration"><h6 class="text">Product Registration</h6></a></li>
      <li><a href="/pages/contact-us-delta"><h6 class="text">Contact Us</h6></a></li>
      <li><a href="/pages/track-order"><h6 class="text">Track Order</h6></a></li>
      <li><a href="/pages/returns-exchanges"><h6 class="text">Returns &amp; Exchanges</h6></a></li>
      <li><a href="/pages/instructions"><h6 class="text">Assembly Instructions</h6></a></li>
      <li><a href="/pages/extended-warranty"><h6 class="text">Extended Warranty</h6></a></li>
      <li><a href="http://www.cribrecallcenter.com" target="_blank"><h6 class="text">Recall Center</h6></a></li>
      <li><a href="https://www.deltachildren.com/pages/recall" target="_blank"><h6 class="text">Safety Recall</h6></a></li>


    </ul>
  </div>
  <div class="small-12 medium-6 large-1 columns">
    <a href="/blogs/the-play-yard"><h5 class="blog-sale text title">BLOG</h5></a>
    <a href="/pages/sale"><h5 class="blog-sale text title">SALE</h5></a>
    <a href="/pages/product-registration"><h5 class="blog-sale text title show-for-small-only">REGISTER YOUR PRODUCT</h5></a>
  </div>
</div>

<script>
$(function() {
  if ($(window).width() < 641) {
    $('#site-ui-footer ul.social-links').appendTo('div#path-footer');

        //selector variables
    instagram = $('#path-footer .social-links .fa-instagram').parents('li');
    facebook = $('#path-footer .social-links .fa-facebook').parents('li');
    youtube =   $('#path-footer .social-links .fa-youtube').parents('li');
    //selector movement
    instagram.prependTo('#path-footer .social-links');
    facebook.insertAfter(instagram);
    youtube.appendTo('#path-footer .social-links');

    $('h5.title').click(function(){
      $(this).children().toggleClass('up');
      $(this).next().slideToggle(400);
    });
  };
});


</script>
