{%if collection.handle == 'cribs'%}
<div id="crib-paragraph">
<div class="container">
    <p>At Delta Children, we believe a crib is much more than just a place for your baby to sleep. Cribs should provide a safe and comforting environment for little ones to grow, learn, and get the sleep they need every day. Crib safety is our #1 priority,
      so you can rest east knowing your little one is always secure when you leave them unsupervised through naps and sleep time.
    </p>
    <p>We have a wide selection of cribs for infants and cribs for toddlers that are stylish and will turn the nursery into your favorite room in the house. Delta Children’s 3-in-1 cribs grow with
      your baby by converting from a multi-positional crib into a toddler bed and then a daybed. Our 4-in-1 cribs will take your baby through their teenage years as they also convert into a full-size bed.
    </p>
    <p>Our crib ‘n’ changer styles are perfect for saving space and keeping organized, featuring attached changing tables and offering ample extra space for storage.
      These styles also convert from a crib to toddler bed to daybed to full-size bed.
      If you’re limited on space, our mini cribs are ideal for small nurseries or second cribs in other rooms or even grandma’s house.
      And for travel, Delta Children has portable cribs that are foldable and easy to carry.
      Browse our vast collection by feature, brand, or price to choose the best crib for your home and your family!
    </p>
  </div>
</div>
{%endif%}
{% if collection.handle == "jeep-strollers" %}
  <div id="jeep-paragraph">
	<div class="container">
      <p>If you’re looking for the best stroller for newborns and babies, look no further than our expansive collection of Jeep strollers.
        Whether you’re looking for a luxury full-size style or a jogging stroller, double stroller, easy folding stroller, or lightweight stroller, Jeep has it all.
      </p>
      <p>Full of features designed for both parents and babies alike, Jeep strollers feature technology like shock absorbing wheels for rides on rough terrain, adjustable handles for the comfort of parents, reclining seats for the comfort of babies, one-hand easy fold for added convenience, car seat adapters for parents on-the-go,
        super lightweight designs for easy travel, peek-a-boo windows to keep an eye on your child, large oversized canopies with pop-out SPF 50 sun visors, and so much more!
      </p>
      <p>Plus, Jeep strollers are packed with safety features like reflective shoulder pads and 5-point safety harnesses to ensure every walk, jog, run or hike is safe.
        Jeep strollers are everything a parent could want in a stroller at an affordable price that can’t be beat! No matter what adventure you’re on, arrive in style with a Jeep Stroller.
      </p>
    </div>
  </div>
      {%endif%}
