<!-- specifically for extended warranty feature -->
<select required class="required" name="state" id="state">
  <option value="" selected="selected">Select a State</option>
  <option class="true-state" value="AR">Arkansas</option>
  <option class="true-state" value="CO">Colorado</option>
  <option class="true-state" value="DE">Delaware</option>
  <option class="true-state" value="DC">District Of Columbia</option>
  <option class="true-state" value="GA">Georgia</option>
  <option class="true-state" value="ID">Idaho</option>
  <option class="true-state" value="IL">Illinois</option>
  <option class="true-state" value="IN">Indiana</option>
  <option class="true-state" value="IA">Iowa</option>
  <option class="true-state" value="KS">Kansas</option>
  <option class="true-state" value="KY">Kentucky</option>
  <option class="true-state" value="LA">Louisiana</option>
  <option class="true-state" value="MD">Maryland</option>
  <option class="true-state" value="MI">Michigan</option>
  <option class="true-state" value="MS">Mississippi</option>
  <option class="true-state" value="MO">Missouri</option>
  <option class="true-state" value="NE">Nebraska</option>
  <option class="true-state" value="NV">Nevada</option>
  <option class="true-state" value="NH">New Hampshire</option>
  <option class="true-state" value="NY">New York</option>
  <option class="true-state" value="NC">North Carolina</option>
  <option class="true-state" value="ND">North Dakota</option>
  <option class="true-state" value="PA">Pennsylvania</option>
  <option class="true-state" value="RI">Rhode Island</option>
  <option class="true-state" value="SD">South Dakota</option>
  <option class="true-state" value="TN">Tennessee</option>
  <option class="true-state" value="UT">Utah</option>
  <option class="true-state" value="WV">West Virginia</option>
</select>
