{{ 'home.css' | asset_url | stylesheet_tag }}
{{ 'home.js' | asset_url | script_tag }}
<div class="grid" id="home-page-container">
  <div id="module_1" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="inner-container">
      <h1 class="gotham-black">50 Years of Safety, Style &amp; Innovation</h1>
      <p class="gotham-book">That's Why 1 Out Of 2 Children Sleep In Our Products!</p>
    </div>
    <img alt="Delta Children" class="background" src="https://cdn.shopify.com/s/files/1/0578/7201/files/header-1300x700.jpeg?11658272526583916474">
    <div id="m1_banner-icon-holder">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/jeep_brand_mark.png" alt="Jeep logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Simmons.png" alt="Simmons logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Serta-Logo-2017_1.png" alt="Serta logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/beautyrest-logo.png" alt="Beautyrest logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/nick.png" alt="Nickelodeon logo">
      <img id="dc-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta_children_logo-2016-print-version.png" alt="Delta Children logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Disney_Signature_blue.png" alt="Disney logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/WB-Usage-Logo.png" alt="Warner Brothers logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB-01_1.png" alt="MLB logo">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/USM_B_0004_SS11.png" alt="Marvel logo">
      <img class="small-text-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/eone.png" alt="Entertainment One logo">
    </div>
  </div>

  <div id="module_2" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="module-2-container">
      <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Expecting_bar.jpg">

      <h2><span class="gotham-black">Expecting?</span> <span class="gotham-book">Build your Own Nursery Furniture Set</span></h2>
      <a class="gotham-black" href="/pages/bundles">SAVE 40% NOW!</a>
      <!-- Expecting section -->
      <img id="pregnant-img" alt="Delta Mom" src="//cdn.shopify.com/s/files/1/0578/7201/files/Pregnant_ICON-small.png">
    </div>
  </div>

  <div id="module_3" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div id="parent-center-container">
    <h2 class="cartoonist">PARENT CENTER &bull; CHOOSE YOUR STAGE:</h2>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Pregnancy</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Newborn</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Baby</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Toddler</h4>
      </a>
    </div>
    <div class="pc-buttons">
      <a href="">
        <h4 class="gotham-black">Kid</h4>
      </a>
    </div>
  </div>
  <!-- Parent Center section -->
  <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Parent_Center_Banner.jpg">
</div>

<div id="module_4" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-4-container">
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Safety-1330x700.jpg">

    <div id="m4-text-img-container">
      <h2 class="cartoonist"><span>Trust Us,</span> We're Obsessed With Safety</h2>
      <p class="gotham-book">
        <span>We Test Above And Beyond The Standards For Safety &amp;</span>
        <span>We Don't Sleep Until We Know Your Little One is Safe!</span>
        <span>That's Our Promise To You</span>
        <a href="/pages/leaders-in-safety">Learn How We Are Safe ></a>
      </p>
      <img class="m4-img" id="img-1" src="//cdn.shopify.com/s/files/1/0578/7201/files/jpma.png" alt="JPMA">
      <img class="m4-img" id="img-2" src="//cdn.shopify.com/s/files/1/0578/7201/files/Artboard_193.png" alt="Delta Children, 50 years">
      <img class="m4-img" id="img-3" src="//cdn.shopify.com/s/files/1/0578/7201/files/Artboard_192.png" alt="Greenguard">
      <img class="m4-img" id="img-4" src="//cdn.shopify.com/s/files/1/0578/7201/files/certipur.png" alt="Certipur">
      <img class="m4-img" id="img-5" src="//cdn.shopify.com/s/files/1/0578/7201/files/toy_industry.png" alt="Toy Industry Association">
      <img class="m4-img" id="img-6" src="//cdn.shopify.com/s/files/1/0578/7201/files/ASTM_LOGO_f423d99b-cbb4-4ffc-a7da-9f8e873bf71e.png" alt="ASTM">

    </div>
  </div>
  <!-- Trust Us section -->
</div>

<div id="module_5" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-5-container">
    <h2 class="cartoonist">Hot Products</h2>
    <div id="hot-prod-img-container">
      <a href="/collections/jeep-strollers">
        <div class="img-text">
        <h6 class="gotham-book"><span class="gotham-black">JEEP</span> STROLLERS</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-STROLLERS.jpg" alt="Delta Children Jeep Stroller">
      </div>
      </a>
      <a href="/pages/mattresses">
        <div class="img-text">
          <h6 class="gotham-black">MATTRESSES</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-MATTRESSES.png" alt="Delta Children Mattress">
          <img id="mattress-button" src="//cdn.shopify.com/s/files/1/0578/7201/files/Mattress_Button.png">
        </div>
      </a>
      <a href="/products/cherokee-ride-on-push-car">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">RIDE-</span>ON</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-RIDE_ON.jpg" alt="Delta Children Ride On">
        </div>
      </a>
      <a href="/collections/twin-beds">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">TWIN</span> BEDS</h6>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-TWIN_BEDS.jpg" alt="Delta Children Twin Bed">
      </div>
      </a>
      <a href="/pages/kids-furniture">
        <div class="img-text">
          <h6 class="gotham-book"><span class="gotham-black">TODDLER</span> FURNITURE</h6>
          <img src="//cdn.shopify.com/s/files/1/0578/7201/files/HP-TODDLER.jpg" alt="Delta Children Toddler Furniture">
        </div>
      </a>
    </div>
    <div id="proud-partners-container">
      <div id="pp-row1">
        <img alt="Batman" src="//cdn.shopify.com/s/files/1/0578/7201/files/Batman.png?6730156070795875799">
        <img alt="Wonder Woman" src="//cdn.shopify.com/s/files/1/0578/7201/files/Wonder_Woman.png">
        <a href="/pages/characters"><h4 class="gotham-black">PROUD PARTNERS</h4></a>
        <img alt="Mickey Mouse" src="//cdn.shopify.com/s/files/1/0578/7201/files/Mickey_Disney_Junior_Logo_copy.png">
        <img alt="Minnie Mouse" src="//cdn.shopify.com/s/files/1/0578/7201/files/CC549026_copy.png">
      </div>
      <div id="pp-row2">
        <img alt="Justice League" src="//cdn.shopify.com/s/files/1/0578/7201/files/Justice_League.png">
        <img alt="DC Super Hero Girl" src="//cdn.shopify.com/s/files/1/0578/7201/files/DC_Superhero_Girls_Logo_copy.png">
        <img alt="Spiderman" src="//cdn.shopify.com/s/files/1/0578/7201/files/USM_B_0001_SS11_copy.png">
        <img alt="Avengers" src="//cdn.shopify.com/s/files/1/0578/7201/files/AVAS_B_0001_copy.png">
        <img alt="Blaze" src="//cdn.shopify.com/s/files/1/0578/7201/files/blaze-logo_copy.png">
        <img alt="Paw Patrol" src="//cdn.shopify.com/s/files/1/0578/7201/files/Paw-Patrol-logo_copy.png">
        <img alt="Teenage Mutant Ninja Turtles" src="//cdn.shopify.com/s/files/1/0578/7201/files/NINJA_TURTLES_copy.png">
        <img alt="Peppa Pig" src="//cdn.shopify.com/s/files/1/0578/7201/files/Peppa-logo-with-Peppa_copy.png">
        <img alt="PJ Masks" src="//cdn.shopify.com/s/files/1/0578/7201/files/dup1-PJ-MASKS-Logo-CMYK_copy.png">
        <img alt="Sesame Street" src="//cdn.shopify.com/s/files/1/0578/7201/files/Sesame-Street-New-Logo---Gold-Outline_copy.png">
        <img alt="MLB" src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB-01_copy.png">
        <img alt="Disney Princess" src="//cdn.shopify.com/s/files/1/0578/7201/files/princess_copy.png">
        <img alt="Frozen" src="//cdn.shopify.com/s/files/1/0578/7201/files/frozen_copy.png">
        <img alt="Cars" src="//cdn.shopify.com/s/files/1/0578/7201/files/CC562020-WHITE-BG_copy.png">
      </div>
    </div>
  </div>
</div>

<div id="module_6" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-6-container">
    <h2 class="module-6-header">Spotted with Delta Children</h2>
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Celebrity_Section.jpg">
    <div id="m6-img-text-container">
      <div class="celeb-holder" id="img-t-1">
        <h4>@kellyrowland</h4>
        <img class="lazy" alt="@kellyrowland" src="//cdn.shopify.com/s/files/1/0578/7201/files/Kelly.jpg" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Kelly.jpg">
      </div>
      <div class="celeb-holder" id="img-t-2">
        <h4>@jessejamesdecker</h4>
        <img class="lazy" alt="@jessejamesdecker" src="//cdn.shopify.com/s/files/1/0578/7201/files/Jesse.jpg" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Jesse.jpg">
      </div>
      <div class="celeb-holder" id="img-t-3">
        <h4>@jwoww</h4>
        <img class="lazy" alt="@jwoww" src="//cdn.shopify.com/s/files/1/0578/7201/files/Jwoww.jpg" data-src="">
      </div>
      <div class="celeb-holder" id="img-t-4">
        <h4>John Oliver</h4>
        <img class="lazy" alt="John Oliver" src="//cdn.shopify.com/s/files/1/0578/7201/files/John.jpg" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/John.jpg"> </div>
    </div>
  </div>
  <div class="module-6-container">
    <div id="m6-title-2"><h3 class="cartoonist">Spotted With</h3><img alt="Jeep Logo" src="https://cdn.shopify.com/s/files/1/0578/7201/files/jeep_logo_white.png"></div>
    <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Celebrity_Section.jpg">
    <div class="arrow-container-right">
      <i class="right-new jeep-arrow"></i>
    </div>

    <div class="arrow-container-left">
        <i class="left-new jeep-arrow"></i>
      </div>
    <div id="m6-container-2" class="m6-container-2">
      <div class="celeb-holder" id="img-t-5">
        <h4>@wranglingtheles</h4>
        <img alt="" src="//cdn.shopify.com/s/files/1/0578/7201/files/wranglingtheles_1.jpg">
      </div>
      <div class="celeb-holder" id="img-t-6">
        <h4>@withlovemama</h4>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/withlovemama.jpg">
      </div>
      <div class="celeb-holder" id="img-t-7">
        <h4>@roselynm</h4>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/roselynm.jpg">
      </div>
        <div class="celeb-holder" id="img-t-7">
        <h4>@brittneyknudsen</h4>
        <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/brittneyknudsen_jpg.jpeg?6020291415557111897">
      </div>
      <div class="celeb-holder" id="img-t-8">
        <h4>@vannie.beauty</h4>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/vanniemama.jpg">
      </div>
      <div class="celeb-holder" id="img-t-9">
        <h4>@raisingcubs</h4>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/raisingcubs.jpg">
      </div>
       <div class="celeb-holder" id="img-t-10">
        <h4>@mrsseacannon</h4>
        <img src="//cdn.shopify.com/s/files/1/0578/7201/files/mrsseascannon.jpg">
      </div>
       <div class="celeb-holder" id="img-t-10">
        <h4>@marquis_clarke</h4>
        <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/marquis_clarke_jpg.jpeg?6020291415557111897">
      </div>
      <div class="celeb-holder" id="img-t-11">
        <h4>@magalytompkins</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/magalytompkins_1.jpg">
      </div>
      <div class="celeb-holder" id="img-t-12">
        <h4>@lifeofcoco_</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/lifeofcoco.jpg">
      </div>
      <div class="celeb-holder" id="img-t-13">
        <h4>@laurenblixrud</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/laurenblixrud.jpg">
      </div>
      <div class="celeb-holder" id="img-t-13">
        <h4>@stumblinggrace</h4>
        <img class="lazy" alt="" src="" data-src="https://cdn.shopify.com/s/files/1/0578/7201/files/stumblinggrace_jpg.jpeg?6020291415557111897">
      </div>
      <div class="celeb-holder" id="img-t-14">
        <h4>@kristinmcgee</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/kristinmcgee.jpg">
      </div>
      <div class="celeb-holder" id="img-t-15">
        <h4>@lanadmitruks</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/lanadmitruks.jpg">
      </div>
      <div class="celeb-holder" id="img-t-16">
        <h4>@kristenkhoff</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/kristenkhoff.jpg">
      </div>
      <div class="celeb-holder" id="img-t-16">
        <h4>@sugarmaplenotes</h4>
        <img class="lazy" alt="" src="" data-src="https://cdn.shopify.com/s/files/1/0578/7201/files/sugarmaplenotes_jpg.jpeg?6020291415557111897">
      </div>
      <div class="celeb-holder" id="img-t-17">
        <h4>@kateschwanke</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/kateschwanke.jpg">
      </div>
      <div class="celeb-holder" id="img-t-18">
        <h4>@justdreams</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/justdreamsof.jpg">
      </div>
      <div class="celeb-holder" id="img-t-19">
        <h4>@cbchatman</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/cbchatman.jpg">
      </div>
      <div class="celeb-holder" id="img-t-20">
        <h4>@zagrebelnaya</h4>
        <img class="lazy" alt="" src="" data-src="https://cdn.shopify.com/s/files/1/0578/7201/files/zagrebelnaya_jpg.jpeg?6020291415557111897">
      </div>
      <div class="celeb-holder" id="img-t-20">
        <h4>@cassanola</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/cassanola.jpg">
      </div>
      <div class="celeb-holder" id="img-t-21">
        <h4>@govictoria</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/govictoria.jpg">
      </div>
      <div class="celeb-holder" id="img-t-22">
        <h4>@giorgia_balestri</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/giorgiabalestri.jpg">
      </div>
      <div class="celeb-holder" id="img-t-23">
        <h4>@adventures.with.my.angel</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/adventures_with_my_angel.jpg">
      </div>
      <div class="celeb-holder" id="img-t-24">
        <h4>@acesinsquares</h4>
        <img class="lazy" alt="" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/acesinsquares_1.jpg">
      </div>
    </div>
  </div>
</div>

<div id="module_7" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-7-container">
    <div>
      <h2 id="m7-title">
          <div class="gotham-book">READY TO <span class="gotham-black">CONVERT</span></div>
        <div class="gotham-book">YOUR <span class="gotham-black">CRIB?</span></div>
      </h2>
    </div>
    <div id="m7-main-img">
      <img alt="Delta Crib" class="lazy" src="//cdn.shopify.com/s/files/1/0578/7201/files/CVC-Main.png?11608153260874179948" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/CVC-Main.png?11608153260874179948">
    </div>
    <div id="m7-right-img">
      <a href="/collections/guardrails">
        <div class="m7-img-holder">
          <h6 class="m7-img-text gotham-book">
            To a <span class="gotham-black">Toddler Bed</span>
          </h6>
            <img alt="Convert to a Toddler Bed" class="lazy" src="//cdn.shopify.com/s/files/1/0578/7201/files/Toddler_Button.jpg" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Toddler_Button.jpg">
            <span class="click gotham-book">Click Here</span>
        </div>
      </a>
      <a href="/collections/full-size-bed-rails">
        <div class="m7-img-holder">
          <h6 class="m7-img-text gotham-book">
            To a <span class="gotham-black">Full-Size Bed</span>
          </h6>
            <img alt="Convert to a Full-Size Bed" class="lazy" src="//cdn.shopify.com/s/files/1/0578/7201/files/Crib_Button_6a4f53a4-9f46-4949-9744-52c0522bcedc.jpg" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Crib_Button_6a4f53a4-9f46-4949-9744-52c0522bcedc.jpg">
            <span class="click gotham-book">Click Here</span>
        </div>
      </a>
    </div>
  </div>
  <!-- Ready to Convert Your Crib section -->
  <img class="background" src="//cdn.shopify.com/s/files/1/0578/7201/files/Convert_Your_Crib.jpg">
</div>
<div id="module_8" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-8-container">
    <h2 class="cartoonist">Every Purchase Has a Purpose</h2>
    <p class="gotham-book">
      <span>Through Your Purchase, Delta Children Is Able To Provide</span>
      <span>Safe Sleep Environments For Babies Around The World.</span>
      <span>$4 Million Already Donated To Families In Need!</span>
    </p>
    <a class="gotham-book" href="/pages/safe-sleep-campaign"> Learn More ></a>
  </div>
  <!-- Every Purchase has a purpose section -->
  <img class="background" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Charity-1600x700.jpg?8524417848302725016">
</div>

<div id="module_9" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-9-container">
    <h2 class="gotham-black">Follow Us @deltachildren On Social Media</h2>
    <span class="gotham-book">For Giveaways, Resources, And A Daily Dose Of Love And Laughter</span>
  </div>
</div>

<div id="module_10" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
  <div class="module-10-container">
    <div id="instagram-feed-container">
      {% include 'insta-footer' %}
    </div>
  </div>

  <div id="module_11" class="grid__cell 10/10--handheld 10/10--lap-and-up home-module">
    <div class="module-11-container">
      <div id="icon-container">
        <!-- {% include 'widget-social-links' %} -->
        <ul class="social-links inline-list"><li>
      <a href="https://instagram.com/deltachildren/" title="Instagram" data-target-new="" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/DeltaChildren" title="Twitter" data-target-new="" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/deltachildren" title="Facebook" data-target-new="" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/deltachildren" title="Youtube" data-target-new="" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/deltachildren/" title="Instagram" data-target-new="" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/deltachildren/" title="Pinterest" data-target-new="" target="_blank">
        <i class="fa fa-pinterest"></i>
      </a>
    </li>
  <li>
      <a href="https://www.youtube.com/user/deltachildren" title="Youtube" data-target-new="" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </li></ul>
        <!-- <a href="">Instagram</a>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
        <a href="">Pinterest</a> -->
      </div>
      <div id="m11-text">
        <span>Tag<span> #deltachildren</span> For a Chance to be Featured</span>
      </div>
    </div>
    <!-- Follow Us on Socia Media section -->
  </div>

  <!-- End container for home page  -->

</div>



</div>

<!-- {% schema %}
{
  "name": "Slideshow",
  "class": "shopify-section__slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "type",
      "label": "Layout",
      "options": [
        {
          "value": "dual",
          "label": "Reveal next slide"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "dual"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1560 x 1050px jpg recommended"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Your slideshow",
          "info": "45 characters maximum"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Text position",
          "info": "This setting is only applicable for the full-screen slideshow",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video slide",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Video URL",
          "accept": ["youtube", "vimeo"],
          "info": "Enter either a Vimeo or YouTube URL",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "image_picker",
          "id": "video_poster",
          "label": "Video image placeholder",
          "info": "1300 x 875px jpg recommended. This image is only used in the \"reveal next slide\" slideshow, for the preview slide. For YouTube, a default one is extracted from the video, but we recommend you to upload a custom image for best results."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "info": "Heading is not displayed if layout is full screen.",
          "default": "Your slideshow"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "settings": {
        "autoplay": true,
        "cycle_speed": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %} -->
