{{ 'footer.css' | asset_url | stylesheet_tag }}
<aside class="footer-widgets show-for-small-up" id="site-ui-footer">
    <div class="row padded" id="footer-widget-container">
      <div class="large-12 columns">
<div class="widgets">
  <div class="row">
    <div class="large-5 columns">

  <section class="widget widget-newsletter" style="float: left;">
    <div class="widget-inner">

  <header class="widget-header">
    <h2>Subscribe for 10% Off!</h2>
  </header>

  <p>Sign up for our newsletter for 10% off your next order and member-only deals delivered straight to your inbox.</p>

  <form method="post" action="//deltachildren.us8.list-manage.com/subscribe/post?u=80ec84eee53425122429cd899&amp;id=85cb83f26f" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
    <div class="row collapse">
      <div class="small-9 columns">
          <input type="email" name="EMAIL" class="email with-postfix parsley-validated" data-required="true" data-required-message="Email address is required" data-type-email-message="Email address must be valid" placeholder="Email address">
      </div>
        <div class="small-3 columns">
        <div class="button postfix radius" id="show-footer-pop-up">Go</div>
        </div>
      </div>
    </form>
    <p><a href="https://deltachildren.activehosted.com/unsubscribe/1"></a></p><p><a href="https://deltachildren.activehosted.com/unsubscribe/1">Unsubscribe</a></p><p></p></div>
  </section>
    </div>
      <div class="large-3 columns">
  </div>
  <div class="large-3 columns">
  <section class="widget widget-social-links ">
    <div class="widget-inner">
  <header class="widget-header">
  </header>

<ul class="social-links inline-list">
  <li>
      <a href="https://instagram.com/deltachildren/" title="Instagram" data-target-new="" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li><li>
      <a href="https://www.facebook.com/deltachildren" title="Facebook" data-target-new="" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/DeltaChildren" title="Twitter" data-target-new="" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/deltachildren/" title="Pinterest" data-target-new="" target="_blank">
        <i class="fa fa-pinterest"></i>
      </a>
    </li>
  <li>
      <a href="https://www.youtube.com/user/deltachildren" title="Youtube" data-target-new="" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </li></ul>
    <p><a href="https://deltachildren.activehosted.com/unsubscribe/1"></a></p><p><a href="https://deltachildren.activehosted.com/unsubscribe/1" style="display: none;">Unsubscribe</a></p><p></p></div>
  </section>


              </div>

          </div>
        </div>

      </div>
    </div>

<footer id="site-footer">
  {% if template == 'index' %}
  <div class="row path-p-container">
	<div id="path-paragraph" class="small-12 medium-12 large-12">
    <p>Delta Children has over 50 years of experience creating safe and stylish products for babies,
      toddlers, and teens.
      The leading manufacturer of cribs and toddler beds also
      specializes in a wide range of furniture for kids of all ages, including: gliders,
      changing tables, dressers, bookcases, playroom accessories, toy storage, kids’ chairs,
      twin &amp; full-sized beds, and much more. Along with their own furniture collections, Delta Children
      also has partnerships with the most prestigious and well-known brands. From Disney to Nickelodeon,
      Warner Brothers, Major League Baseball (MLB), Sesame Street, Marvel, Entertainment One, Jeep, Simmons Kids,
      Beautyrest, and Serta – Delta Children has it all!
    </p>
    <p>Parents also love Delta Children’s expansive line of baby gear, including strollers & joggers,
      bassinets, high chairs, and walkers. To help babies and kids sleep better, top of the line crib and
      toddler mattresses by Delta Children, Beautyrest, and Serta feature the newest innovations in sleep
      technology. Make sure your nursery is able to grow with your child, with Delta Children’s guardrails
      and bedrails that instantly convert your crib into a toddler bed or full-size bed. And don’t forget about
      Delta Children’s practical yet stylish storage items, sure to keep any bedroom organized.
    </p>
    <p>Delta Children is the most trusted name in baby and children’s furniture for a reason: the safety of kids
      always comes first. All products are tested above and beyond the standards for your child’s safety.
      Delta Children has also donated $3 million to families in need as part of their Safe Sleep Campaign,
      dedicated to finding a safe place for every baby to sleep.
    </p>
  </div>
</div>
  {%endif%}

  <div id="fine-print" class="text-color-quiet">
    <div id="copyright">
        <p>Copyright © 2018 Delta Children's Products Corp. All Rights Reserved.
        <a href="http://shop.deltachildren.com/pages/privacy-policy/">Privacy Policy</a> • <a href="http://shop.deltachildren.com/pages/terms-of-use/">Terms of Use</a> • <a href="/pages/returns-exchanges/">Returns &amp; Exchanges</a>
        Taxes apply for the following states: AR, CA, IL, NJ, NY, PA, MI, WI. We ship only to the US contiguous 48 states.
      </p>
    </div>
  </div>
</aside>

  <!-- <aside class="newsletter">
    <div class="container">
      <div class="newsletter__inner">
        <header class="newsletter-header">
          <h2>Subscribe for 10% Off!</h2>
        </header>
        </div>
        <p class="newsletter__cta">
          Sign up for our newsletter for 10% off your next order and member-only deals delivered straight to your inbox.
        </p>
        <!-- {{ newsletter_form }} -->
        <!-- <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-group">
              <form method="post" action="{{ settings.widget_newsletter_action }}" name="mc-embedded-subscribe-form" target="_blank">
              <div class="row collapse">
                <div class="small-9 columns">
                  <input type="email" name="EMAIL" class="email with-postfix parsley-validated" data-required="true" data-required-message="Email address is required" data-type-email-message="Email address must be valid" placeholder="Email address">                  </div>
                <div class="small-3 columns">
                  <div class="button postfix radius" id="show-footer-pop-up">Go</div>
                </div>
              </div>
            </form>
          </div>
          <p><a href="https://deltachildren.activehosted.com/unsubscribe/1">Unsubscribe</a></p>
          <div class="large-3 columns"> -->
    <!-- <section class="widget widget-social-links ">
      <div class="widget-inner">


    <header class="widget-header">
      <h2>Social Links</h2>
    </header> -->

  <!-- <ul class="social-links inline-list"><li>
        <a href="https://instagram.com/deltachildren/" title="Instagram" data-target-new="" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/deltachildren" title="Facebook" data-target-new="" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/DeltaChildren" title="Twitter" data-target-new="" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com/deltachildren/" title="Pinterest" data-target-new="" target="_blank">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/deltachildren" title="Youtube" data-target-new="" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
    </ul>
      <p><a href="https://deltachildren.activehosted.com/unsubscribe/1"></a></p><p><a href="https://deltachildren.activehosted.com/unsubscribe/1" style="display: none;">Unsubscribe</a></p><p></p></div>
    </section>
        </div>
      </div>
    </div>
  </aside> -->


{% schema %}
{
  "name": "Newsletter",
  "class": "shopify-section__newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "paragraph",
      "content": "You can sync your customers with a newsletter service by installing their app."
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Subscribe to our newsletter:"
    },
    {
      "type": "image_picker",
      "id": "newsletter_image",
      "label": "Background image",
      "info": "480 x 320px .jpg recommended"
    },
    {
      "type": "checkbox",
      "id": "apply_newsletter_gradient",
      "label": "Apply a gradient on background image",
      "info": "This option can be useful to reduce the image visual impact and give a softer feel.",
      "default": true
    }
  ]
}
{% endschema %}
