@font-face{
  font-family: 'Montserrat SemiBold';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/Montserrat_SemiBold.otf?12350108609126995874');
}
@font-face{
  font-family: 'Montserrat Light';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/Montserrat_Light.otf?12350108609126995874');
}
@font-face{
  font-family: 'Montserrat Bold';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/Montserrat_Bold.otf?12350108609126995874');
}
@font-face{
  font-family: 'Montserrat Black';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/Montserrat_Black.otf?12350108609126995874');
}
@font-face{
  font-family: 'Kabel Itc Medium';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/KabelItcT_Medium?13731186704223552861');
}

.title {
  margin-top: 180px;
}

.main_img {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 375px){
  .small-6.fade{
    height: 315px;
  }
}
@media only screen and (min-width: 891px) and (max-width: 1025px){
.medium-6.fade {
  height: 500px;
}

.medium-6.fade a img{
  height: 400px;
  width: 400px;
  max-width: 400px;
  max-height: 400px;
}
}

@media screen and (max-width: 420px){

img#baby_img{
  display: none;
}
input#accepts-terms-and-conditions{
  position: relative;
  top: 2px;
}
}

.cover{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: grey;
  z-index: 8;
  display: none;
  opacity: .9;
}
.form{
  display:none;
}
.form-wrapper{
  margin:0;
  padding:0;
  text-align: center;
  position: fixed;
  top: 10%;
  z-index: 9;
  text-align: center;
  width: 100%;
  display: block;
}
div.form{
  z-index: 10;
  width: 80%;
  max-height: 783px;
  text-align: left;
  background-color: #F1F1F1;
  overflow-y: scroll;
  max-width: 820px;
  height: 795px;
}
.form .row{
  padding-left: 5%;
  padding-right: 5%;
}
.banner-holder{
  padding: 0 !important;
  position: relative;
}
/*div.form::-webkit-scrollbar {
    display: none;
}*/
div.form label{
  color: #8dabdd!important;
  font-size: 16px;
  font-weight: 500;
}
div.form input{
border-radius: 0;
display: flex;
width: 150%;
height: 48px;
margin-top: 8px;
}

div.form input:focus{
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 3px #e75e37;
}

h3.ew{
  text-align: center;
  display: inline-block;
  margin: 0;
  color: #8dabdd;
}
@font-face{
  font-family: 'Chalkduster';
  src:url('https://www.delta-children.myshopify.com/assets/chalkduster.ttf') format('truetype');
}
h3.ew{
  text-align: center;
  display: inline-block;
  margin: 0;
  color: #4d4d4d;
}
label{
  color: white !important;
}

.bullets{
  text-align: center;
}
.bullet{
  text-align: left;
  position: relative;
  /* width: 80%; */
  left: 22%;
}
div.row.title h1{
  text-align: center;
  font-family: 'Chalkduster';
  color: #F97CA0 !important;
  font-size: 450%;
  margin: 0;
}
h4.copy-bullet{
  display: inline-block;
  font-size: 155%;
  color: #173D6F !important;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  padding-left: 26px;
}

img.num-bullet{
  width: 4%;
}
.menu{
  text-align: center;
  margin: 17px auto 27px auto;
  width: 60%;
  max-width: 100%;
}

.menu img{
  cursor: pointer;
  cursor: hand;
}
.info-holder{
  display: none;
}
.x{
  text-align:right;
}
a.info-link{
  text-decoration: underline;
  color: #8dabdd;
  font-size: 16px;
}
button.ew-buy{
  border-radius: 0;
  /*display: none;*/
}
img.pop-up-x{
  width: 3%;
  position: absolute;
  right: 0;
}
div.correct-variant{
  display: none;
}

#terms_conditions{
  position: relative;
  margin-top: -10px;
}

#terms_conditions div{
  height: 20px;
}

@media only screen and (max-width: 1400px){
  h4.copy-bullet {
    font-size: 139%;
  }

  .bullet{
    left: 16%;
  }
}

@media only screen and (min-width: 1250px){
  label.p{
    position: relative;
    top: 33px;
    font-size: 0%;
  }
}
@media only screen and (max-width: 1250px){
  div.row.title h1{
    font-size: 350%;
  }
  .bullet{
    padding-bottom: 30px;
    left: 13%;
  }
  .menu{
    width: 60%;
  }
  h4.copy-bullet{
    font-size: 137%;
    width: 80%;
    margin: 0;
  }
  img.num-bullet{
    vertical-align: top;
    width: 6%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px){
input#accepts-terms-and-conditions{
  position: relative;
  top: 2px;
  }
}

@media only screen and (max-width: 667px){
  div.row.title h1{
    font-size: 250%;
  }
  img.num-bullet{
    width: 6%;
  }
  h4.copy-bullet{
    font-size: 120%;
    width: 80%;
  }
  div.form {
    max-height: 500px;
  }
  img.pop-up-x {
    width: 5%;
    position: absolute;
    right: 0;
  }
}

.columns span {
  display: inline-block;
  color: #3743a1;
  padding-top: 7px;
  font-size: 17px;
}

.columns select {
  width: 96%;
  height: 50px;
  padding: .75rem;
  -webkit-border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 10px;
}

.columns #nf_brand{
  width: 200%;
}

.columns #DC_brand_price {
  position: relative;
  top: 0;
  font-size: 150%;
  margin-left: 25%;
}


d_price {
  position: relative;
  top: 0;
  font-size: 150%;
  margin-left: 195%;
}

.columns #SimmonsK_brand_price {
  font-size: 31px;
}

.columns #Serta_brand_price {
  font-size: 31px;
}

.columns h6 {
  margin-top: 10px;
  color:#8dabdd;
  font-size: 17px;
  font-weight: 600;
}

.large-6{
    margin-bottom: 14px;
    display: inline-block;
    padding-right: 142px;
  }

.form-actions .button{
  background-color: #8dabdd;
  margin-top: 29px;
  color: white;
  width: 100%;
  height: 64px;
  margin: 29px 0px 18px 0px;
  font-size: 20px !important;
  letter-spacing: 0px;
}

.large-6 label[for="accepts-terms-and-conditions"] {
  display: block;
  padding-left: 25px;
  font-size: 16px;
}

.large-6 input#accepts-terms-and-conditions{
  width: 13px;
  height: 13px;
  margin: 0;
  position: relative;
  top: 20px;
}

i
