#shopify-section-newsletter {
  background-color: #487ed6;
    padding-top: 32px;
}

.row .row{
  width: auto;
}

.columns .email{
  font-family: 'Century Gothic Bold';
  font-size: 23px;
  float: left;
  display: table;
  height: 48px;
}

.columns .email[type="email"]{
  font-size: 15px;
  padding-left: 12px;
  font-family: initial;
  font-weight: 500;
  font-family: sans-serif;
  max-height: 100%;
  height: 36px;
}

.columns .button{
  font-size: 14px;
  text-transform: initial;
}

aside.footer-widgets a.button, aside.footer-widgets .button {
  background-color: #8dabdd;
  color: #fff;
  padding: 12px 28px;
}



section.widget.widget-newsletter header.widget-header h2 {
    display: block;
}

.widget-newsletter h2 {
  color: #fff;
  font-style: 'Century Gothic Bold';
}

.widget-newsletter form {
    width: 430%;
}

.widget-newsletter p {
    font-size: 60%;
    letter-spacing: 0.5px;
    color: white;
    margin-bottom: 1rem;
}

.columns input {
  width: 6%
}

section.widget.widget-newsletter header.widget-header h2 {
    display: block;
}

.widget-header h2 {
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 6px;
  letter-spacing: 1px;
}

.inline-list {
  list-style: none;
  color: #fff;
  font-size: 25px;
  display: inline-flex;
  margin: 24px 984px;
  margin-left: 905px !important; /*change */
}

.inline-list li {
  margin-right: 10px;
}

.widget-inner{
  margin-left: 25px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .widget-inner{
    margin-left: 14px;
  }

  .inline-list {
    margin-left: 0px !important; /*change*/
    font-size: 27px;
  }
	section.widget.widget-newsletter{ /*change*/
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #3743a1;
      width: 100%;
    }
}

.columns .email {
  width: 9%
}
#fine-print {
  line-height: 1.1rem;
  margin: 46px;
  text-align: center;
  color: #8dabdd;
}

#copyright {
  display: inline;
  font-size: 11px;
}

#path-paragraph {
    position: relative;
    width: 70%;
    left: 15%;
    padding-top: 10px;
}

#path-paragraph p {
    font-size: 67%;
    color: white;
}
/* @media only screen and (min-width: 679px){
.columns {
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (min-width: 64.063em){
.columns {
  width: 110%;
}

.footer-widgets .widgets .row .large-5 {
    padding-left: 5% !important;
}

@media only screen and (min-width: 64.063em){
.large-5 {
    width: 41.66667%;
  }
} */
