@font-face{
 font-family: 'Gotham Bold';
 src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gotham-bold.otf');
}
@font-face{
 font-family: 'Gotham Black';
 src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
@font-face{
 font-family: 'Gotham Book';
 src:url('//cdn.shopify.com/s/files/1/0578/7201/files/GOTHIC.TTF');
}
@font-face{
 font-family: 'Helvetica Medium Condensed';
 src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/helvetica-neue-lt-std-67-medium-condensed.otf?9943094632125790425')
}
@font-face{
 font-family: 'Cartoonist Kooky';
 src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
@font-face{
 font-family: 'Century Gothic Bold';
 src: url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
.gotham-medium{
 font-family: 'Gotham Medium';
}
.gotham-bold{
 font-family: 'Gotham Bold';
}
.gotham-black{
 font-family: 'Gotham Black';
}
.ultra{
 font-family: 'Gotham Ultra';
}
.gotham-book{
 font-family: 'Gotham Book';
}
.gotham-e-light{
 font-family: 'Gotham Extra Light';
}
.gotham-light{
 font-family: 'Gotham Light';
}
.cartoonist{
 font-family: 'Cartoonist Kooky' !important;
}


.table {
  margin-left: 28%;
  width: 119% !important;
}
/*Header STYLING sy-edit 7/16/18*/

#header-actions {
  background-color: #73A3EA;
  padding-top: 10px;
  padding-bottom: 7px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#dc-header-container{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
}
.header .container{
  max-width: 100% !important;
  padding: 0px !important;
}

#header-actions #brand-primary-image{
    position: absolute;
    top: 0;
    left: 0px;
    width: auto;
    padding-left: .9375rem;

  }
  #brand-primary-image img{
    width: 92px;
    position: relative;
    top: 0;
  }

  #dc-header-container .brand-cart-search{
    padding-left: 0;
    padding-right: 0;
  }
  #dc-header-container .brand-cart-search .table{
    text-align: center;
  }

  #header-actions .brand-cart-search{
    left: 0;
    width: 39%;
    float: right;
    /*margin-right: 5% !important;*/
  }

  #header-actions .ship-container {
    display: inline-block;
    background-color: white;
    float:left;
    color: #73A3EA;
    width: 40%;
    height: 30px;
   	border-top: #003a70 solid 1px;
    border-left: #003a70 solid 1px;
   	border-bottom: #003a70 solid 1px;

  }

    #header-actions .ship-container h6 #free-gift-click{
      text-decoration: none;
      letter-spacing: .5px;
      font-size: 15px;
    }
    #header-actions .ship-container h6 #free-gift-click span{
      text-decoration: underline;
      font-size: 15px;
    }

      #header-actions .sign-cart{
        width: 21% !important;
        background-color: white;
        height: 30px;
        text-align: center;
        float: left !important;
        font-size: 1.0625rem;
        line-height: 30px;
        padding-right: 10px;
        border-top: #003a70 solid 1px;
        border-right: #003a70 solid 1px;
   	    border-bottom: #003a70 solid 1px;
        display: inline-block;
      }

    #header-actions .sign-cart a{
      color: #73A3EA !important;
      font-family: 'Century Gothic Bold' !important;
      font-size: 15px;

    }
    #header-actions .sign-cart span{
      color: #73A3EA !important;
      font-family: 'Century Gothic Bold';

    }
    #header-actions .sign-cart i{
      color: #73A3EA !important;
    }
      #header-actions .sign-cart #nest-outside{
        position: relative;
      }
      #header-actions .sign-cart #cartCount{
        position: absolute;
        left: 8px;
        top: 1px;
        border-radius: 8px;
        font-size: 8px;
        padding: 2px 5px;
        color: white !important;
      }



  #header-actions .search{
    display: inline-block;
    // width: 100% !important;
    margin-top: 5px;
    position: relative;
    float: left;
  }
    #header-actions .search #header-search{
      float: none;
      width: 365px;
    }
      #header-actions .search #header-search form.form-search{
        position: relative;
        margin-left: 0%;
        text-align: right;
      }
        #header-actions .search #header-search form i.fa-search{
          position: absolute;
          left: 9px;
          color: #73A3EA;
          z-index: 1;
        }


    #header-actions .search #header-search input.search-query::placeholder{
		color: #73A3EA;
        font-family: 'Century Gothic Bold';

    }

    @media screen and (max-width: 1300px){
      .table {
        margin-left: 7%;
        width: 144% !important;
      }

      #header-actions .ship-container {
        width: 235px;
      }

      #header-actions .ship-container h6 {
        margin-left: 8% !important;
      }

      #header-actions .search #header-search input.search-query {
        width: 92% !important;
      }

      #header-actions .divider{
        padding: 3px !important;
      }
    }


    @media screen and (max-width: 1300px) and (min-width: 1200px) {
    #site-header .top-bar-section .nav-item>a{
      padding-left: 20px;
      padding-right: 20px !important;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    #site-header .top-bar-section .nav-item>a{
      padding-left: 10px;
      padding-right: 10px !important;
    }
  }

  @media screen and (max-width: 800px) and (min-width: 640px) {
    #site-header .top-bar-section .nav-item>a{
      font-size: 8pt;
      /*padding-left: 5px;
      padding-right: 5px !important;*/
    }
  }





/*end HEADER STYLES*/

/*navbar styles SY*/
.header__link .icon-dropdown-arrow,
.header__link .icon-next {
  width: 9px;
  height: 9px;
  vertical-align: baseline;
}

.header__link a {
  padding-right: 22px;
  padding-left: 22px;
}

.nav-list {
	text-decoration:none;
}

.header__main-nav .header__link .icon-dropdown-arrow {
  margin-left: 6px;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

.header__main-nav .header__link:hover .icon-dropdown-arrow,
.header__main-nav .header__link--focused .icon-dropdown-arrow {
  -webkit-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}

/*Header STYLING dh-edit 7/16/18*/

#dc-header-container{
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: .9375rem;
  padding-right: .9375rem;
}
.header .container{
  max-width: 100% !important;
  padding: 0px !important;
}

  #dc-header-container .brand-cart-search{
    padding-left: 0;
    padding-right: 0;
  }
  #header-actions .ship-container h6{
    color: #73A3EA;
    margin-left: 6%;
    margin-right: 50%;
    width: 12em;
    font-family: 'Century Gothic Bold';
    top: 1px;
    position: relative;
    text-align: center;
  }

  #header-actions .divider {
    padding: 5px;
    opacity: .7;
}


    #header-actions .sign-cart #cartCount{
      position: absolute;
      left: 8px;
      top: 1px;
      border-radius: 8px;
      font-size: 8px;
      padding: 2px 5px;
      color: white !important;
    }



  #header-actions .search{
    display: inline-block;
    margin-top: 2px;
  }

  #header-actions .search #header-search form i.fa-search{
      position: absolute;
      top: 6px;
      color: #73A3EA;
    }


    #header-actions .search #header-search input.search-query{
      margin-left: 0;
      margin-right: 0;
      padding-left: 30px;
      width: 94%;
      border: #003a70 solid 1px;
      background: white;
      color: #73A3EA;
      font-family: 'Century Gothic Bold';
      border-radius: 25px;
      font-size: small;
      height: 26px;
    }

    #header-actions .search #header-search input.search-query::placeholder{
		  color: #73A3EA;
      font-family: 'Century Gothic Bold';

    }

@media screen and (max-width: 1300px) and (min-width: 1200px) {
    #site-header .top-bar-section .nav-item>a{
      padding-left: 20px;
      padding-right: 20px !important;
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 1024px) {
    #site-header .top-bar-section .nav-item>a{
      padding-left: 10px;
      padding-right: 10px !important;
    }
  }
  @media screen and (max-width: 1024px){
    .table {
      margin-left: -8%;
      width: 167% !important
    }

    #header-actions .ship-container h6{
      margin-left: 5% !important;
    }

    #header-actions .cell:first-of-type{
      display: inline-block;
    }
    #header-actions .ship-container{
      width: 37% !important;
    }

    #header-actions .search #header-search input.search-query {
      width: 83% !important;
    }

    #header-actions .ship-container h6 #free-gift-click {
      font-size: 14px;
    }

    #header-actions .ship-container h6 #free-gift-click span{
      font-size: 14px;
    }

    #header-actions .sign-cart a {
      font-size: 14px;
    }

    #header-actions .divider {
      padding: 0;
    }

    #site-header .top-bar-section{
      padding-top: 0;
    }
    #site-header ul.right{
      top: 1px !important;
    }

    #site-header ul.right{
      top: 3px;
    }
    #site-header .top-bar-section .nav-item>a{
      font-size: 10pt;
      padding-left: 3px;
      padding-right: 3px !important;
    }

    #site-header .top-bar{
      margin-top: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 850px) {
    #header-actions .ship-container {
      width: 41% !important;
    }

    .table {
    margin-left: -32%;
    width: 182% !important;
    }
  }

  /*for responsiveness <1024px SY */

  @media screen and (max-width: 790px) and (min-width: 640px){

    .wrapper a {
      font-size: 144%;
    }

  }

  /*end painful responsiveness*/



  @media screen and (max-width: 800px) and (min-width: 640px) {
    #site-header .top-bar-section .nav-item>a{
      font-size: 8pt;
      /*padding-left: 5px;
      padding-right: 5px !important;*/
    }
  }
  @media screen and (min-width: 642px){
  /* #brand-primary-image {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 20%;
    left: 40%;
    text-align: center;
  } */
}

@media only screen and (min-width: 64.063em){
#branding-wrap, #header-actions .cell:first-of-type {
    display: inline-block;
  }
}



/*end HEADER STYLES*/

/*navbar SY styles*/
.header--init {
  padding-top: 1px;
  background-color: #73A3EA !important;
  line-height: 1.5em;
}

/* // @media only screen and (min-width: 64.063em)
// .header--init {
//     margin: 0;
// } */

ul.header__links { //nav bar absolute
  float: none !important;
  // position: absolute;
  position: fixed;
  width: 102%;
  display: inline-block;
  text-align: center;
  border-top: 2px solid #003a70;
  border-bottom: 2px solid #003a70;
  background-color: white;
  top: 83px;
  /* top: 89px; for when header is fixed */
}

@media screen and (max-width: 1024px) and (min-width: 640px) {
  ul.header__links {
    height: 47px;
    font-size: 65%;
    padding-top: 6px;
  }


}
.header__links {
  font-size: 14px;
  font-size: 0.77778rem;
  text-transform: uppercase;
  font-weight: 600;
}

.header__link {
  display: inline-block;
  border-left: 2px solid #003a70;
  font-family: 'Century Gothic Bold';
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

ul.header__links li.header__link{
  font-family: 'Century Gothic Bold';
  color: #73A3EA;
  line-height: 22px;
}

ul.header__links > li.header__link:first-child{
  border-left: none;
  font-family: 'Century Gothic Bold';
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

ul.header__links > li.header__link:last-child{
  color: red;
  font-family: 'Century Gothic Bold';
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 830px) and (min-width: 640px){
  ul.header__links {
    font-size: 60%;
  }
  .header__link a{
    padding: 14px 8px
  }
}

/*end navbar styles */
