/* ------ Font Face ----- */
@font-face{
  font-family: 'Montserrat Bold';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/Montserrat_Bold.otf?12350108609126995874');
}
@font-face{
  font-family: 'Gotham Ultra';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/GothamUltranew.otf');
}
@font-face{
  font-family: 'Gotham Black';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/Gotham_Black.otf');
}
@font-face{
  font-family: 'Gotham Book';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/Gotham_Book.otf');
}
@font-face{
  font-family: 'Lie To Me';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/Lie_to_Me_-_OTF.otf?326965602180712237')
}
#nc_background{
  background-image: url(https://cdn.shopify.com/s/files/1/0578/7201/files/the_natural_choice.png?5363211900990102124), url(https://cdn.shopify.com/s/files/1/0578/7201/files/Natural-Background.jpg?4903678941630649982);
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  height: 380px;
  background-blend-mode: multiply
}
#nc-background:before{
  opacity: .8
}
#nc-header{
  width: 100%;
  margin: auto
}
#nc_title{
  color: #6e625a !important;
  font-family: 'Montserrat' !important;
  font-size: 1.9vw;
  margin: 5% 7%;
  line-height: 100%;
  padding-top: 80px;
}
#nc_title span{
  font-family: "Lie To Me";
  font-size: 3.1vw
}
#nc_title #select-text{
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 500;
}

/* slider and content styling */
.ui-slider-label div{
  position: relative;
  bottom: 150px;
  height: 35px
}

#double-label-slider.ui-slider {
  height: 2px;
  background: #8ec549;
  border: none;
  border-radius: 0;
  width: 80%;
  margin: auto;
  margin-top: 234px;
}

#double-label-slider.ui-slider .ui-slider-handle {
  background-image: url(https://cdn.shopify.com/s/files/1/0578/7201/files/NC--Big-Button.png?10005784356280192448);
  border: none;
  width: 85px;
  height: 85px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -40px;
  margin-top:-35px;
  border-radius: 100%;
}
#double-label-slider.ui-slider .ui-slider-handle:focus{
  outline: 0px solid transparent;
}
#double-label-slider.ui-slider .ui-slider-pip {
  top: -3px;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-line {
  background-image: white;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-radius: 100%;
  transition: all 0.4s ease;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
  width: 170px;
  margin-left: -85px;
  text-align: center;
}
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  position: relative;
  bottom:70px
}
#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
  width: 45px;
  height: 45px;
  bottom: 62px
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label {
  color: #888888;
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label h6 {
  font-family: "Gotham Black";
  color: #1d232a !important;
  font-size: 1.2vw;
  margin-bottom: 0
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label p {
  font-family: "Gotham Book";
  color: #1d232a !important;
  font-size: .9vw;
  line-height: 1.5;
}

@media screen and (min-width: 1300px) {
  #double-label-slider.ui-slider {
    margin-top: 210px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label h6 {
    font-size: 16px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label p {
    font-size: 12px
  }

}

@media screen and (max-width: 1200px) {
  #double-label-slider.ui-slider {
    margin-top: 225px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 152px;
    margin-left: -76px;
  }
}
@media screen and (max-width: 1100px) {
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 55px;
    height: 55px;
    bottom: 68px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 35px;
    height: 35px;
    bottom: 56px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 75px;
    height: 75px;
    margin-top: -32px;
    margin-left: -42px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 144px;
    margin-left: -72px;
  }
}
@media screen and (max-width: 1025px) {
  .ui-slider-label div{
    bottom: 130px;
  }
  #double-label-slider.ui-slider {
    margin-top: 210px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 120px;
    margin-left: -60px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 45px;
    height: 45px;
    bottom: 62px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 30px;
    height: 30px;
    bottom: 54px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 65px;
    height: 65px;
    margin-top: -27px;
    margin-left: -31px
  }
}

@media screen and (max-width: 950px) {
  .ui-slider-label div{
    bottom: 115px;
  }
  #double-label-slider.ui-slider {
    margin-top: 178px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 100px;
    margin-left: -50px;
  }
}
@media screen and (max-width: 830px) {
  .ui-slider-label div{
    bottom: 105px;
  }
  #double-label-slider.ui-slider {
    margin-top: 142px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 90px;
    margin-left: -45px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 40px;
    height: 40px;
    bottom: 60px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 25px;
    height: 25px;
    bottom: 52px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 55px;
    height: 55px;
    margin-top: -22px;
    margin-left: -26px
  }
}

@media screen and (max-width: 730px) {
  .ui-slider-label div{
    bottom: 93px;
  }
  #double-label-slider.ui-slider {
    margin-top: 140px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 80px;
    margin-left: -40px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 35px;
    height: 35px;
    bottom: 57px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 50px;
    height: 50px;
    margin-top: -20px;
    margin-left: -26px
  }
}

@media screen and (max-width: 641px) {
  #nc_title{
    font-size: 3.2vw;
    line-height: 95%;
    margin: 4% 7%
  }
  #nc_title span{
    font-size: 4.5vw;
  }
  #nc_title #select-text{
    font-size: 2vw
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label h6 {
    font-size: 1.8vw
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label p {
    font-size: 1.4vw
  }
  .ui-slider-label div{
    bottom: 100px;
  }
  #double-label-slider.ui-slider {
    margin-top: 73px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 110px;
    margin-left: -55px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 35px;
    height: 35px;
    bottom: 57px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 27px;
    height: 27px;
    bottom: 52px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 45px;
    height: 45px;
    margin-top: -17px;
    margin-left: -22px
  }
}
@media screen and (max-width: 550px) {
  .ui-slider-label div{
    bottom: 95px;
  }
  #double-label-slider.ui-slider {
    margin-top: 74px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 88px;
    margin-left: -44px;
  }
  /* #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 25px;
    height: 25px;
    bottom: 51px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 20px;
    height: 20px;
    bottom: 49px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 35px;
    height: 35px;
    margin-top: -12px;
    margin-left: -17px
  } */
}
@media screen and (max-width: 460px) {
  .ui-slider-label div{
    bottom: 78px;
  }
  #double-label-slider.ui-slider {
    margin-top: 50px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 76px;
    margin-left: -38px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 25px;
    height: 25px;
    bottom: 51px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 20px;
    height: 20px;
    bottom: 49px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 35px;
    height: 35px;
    margin-top: -12px;
    margin-left: -17px
  }
}
@media screen and (max-width: 415px) {
  .ui-slider-label div{
    bottom: 73px;
  }
  #double-label-slider.ui-slider {
    margin-top: 38px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 74px;
    margin-left: -37px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 30px;
    height: 30px;
    bottom: 55px
  }
}
@media screen and (max-width: 400px) {
  .ui-slider-label div{
    bottom: 77px;
  }
  #double-label-slider.ui-slider {
    margin-top: 40px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 60px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 350px) {
  .ui-slider-label div{
    bottom: 60px;
  }
  #double-label-slider.ui-slider {
    margin-top: 25px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label i,
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
    width: 58px;
    margin-left: -29px;
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img {
    width: 20px;
    height: 20px;
    bottom: 49px
  }
  #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label img#all-icon{
    width: 18px;
    height: 18px;
    bottom: 48px
  }
  #double-label-slider.ui-slider .ui-slider-handle {
    width: 30px;
    height: 30px;
    margin-top: -9px;
    margin-left: -14px
  }
}

#double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
  opacity: 0.6;
  font-size: 1.2em;
  line-height: 1.3;
  position: absolute;
  top: 18px;
  transition: opacity 0.3s ease;
}
#double-label-slider.ui-slider .ui-slider-pip:hover .ui-slider-label span,
#double-label-slider.ui-slider .ui-slider-pip:focus .ui-slider-label span,
#double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label span {
  opacity: 1; }

#double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: black; }


/* end of slider styling */

@media only screen and (min-width: 1570px){
  #nc_title{
    font-size: 30px;
    padding-top: 33px;
  }
  #nc_title span{
    font-size: 50px
  }
}
@media only screen and (min-width: 1400px){
  .feature h3{
    font-size: 17px
  }
  .feature h5{
    font-size: 12px
  }
}
@media only screen and (max-width: 1350px){
  #nc_background{
    height: 370px;
  }
  #nc_title{
    height: 70px;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1250px){
  #nc_background{
    height: 360px;
  }
  #nc_title{
    height: 70px
  }
}
@media only screen and (max-width: 1150px){
  #nc_background{
    height: 340px;
  }
  #nc_title{
    height: 70px
  }
}
 @media only screen and (max-width: 1050px){
  #nc_title{
    height: 60px;
    padding-top: 70px;
  }
}
@media only screen and (max-width: 1069px){
  #nc_background{
    height: 330px;
  }
}
@media only screen and (max-width: 1025px){
  #nc_background{
    height: 323px;
    background-position-y: -13%;
  }
  #icon_row{
    height: 60px
  }
}
@media only screen and (max-width: 950px){
  #nc_background{
    height: 274px;
    background-position-y: -22%;
  }
}
@media only screen and (max-width: 830px){
  #nc_background{
    height: 252px;
    background-position-y: -23%;
  }
  }
  #nc_title{
    padding-top: 88px;
  }
}
@media only screen and (max-width: 730px){
  #nc_background{
    height: 260px;
  }
}
@media only screen and (max-width: 641px){
  #nc_background{
    height: 205px;
  }
}
@media only screen and (max-width: 550px){
  #nc_background{
    height: 210px;
  }
}
@media only screen and (max-width: 460px){
  #nc_background{
    height: 175px;
  }
}
@media only screen and (max-width: 415px){
  #nc_background{
    height: 150px;
  }
}
@media only screen and (max-width: 350px){
  #nc_background{
    height: 130px;
  }
}
#natural.hero_img_holder{
  display: none
}
#noFilterMainContainer.products.cards{
  top: 0 !important
}
ul#collectionGrid{
  top:0 !important;
  padding-top: 5%
}
/* #template-filtered-products{
  display:none
} */
#sort{
  top: 0 !important;
  left: 0 !important
}
ul#append{
  bottom: 0 !important;
  margin-top: 0 !important
}
.filteredProduct{
  margin-top: 0 !important
}
.detailsHB{
  bottom: 0 !important;
  right: 0 !important
}
.details{
  margin-top: 0 !important
}
