@font-face{
  font-family: 'Gotham Bold';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gotham-bold.otf');
}
@font-face{
  font-family: 'Gotham Black';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
@font-face{
  font-family: 'Gotham Book';
  src: url('//cdn.shopify.com/s/files/1/0578/7201/files/Gotham_Book.otf');
}
@font-face{
  font-family: 'Helvetica Medium Condensed';
  src: url('https://cdn.shopify.com/s/files/1/0578/7201/files/helvetica-neue-lt-std-67-medium-condensed.otf?9943094632125790425')
}
@font-face{
  font-family: 'Cartoonist Kooky';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
@font-face{
  font-family: 'Cartoonist Kooky';
  src:url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
@font-face{
  font-family: 'Gotham-Book';
  src: url('//cdn.shopify.com/s/files/1/0578/7201/files/Gotham_Book.otf');
}

@font-face{
  font-family: 'Century Gothic Bold';
  src: url('//cdn.shopify.com/s/files/1/0578/7201/files/gothicb.ttf');
}
.gotham-medium{
  font-family: 'Gotham Medium';
}
.gotham-bold{
  font-family: 'Gotham Bold';
}
.gotham-black{
  font-family: 'Gotham Black';
}
.ultra{
  font-family: 'Gotham Ultra';
}
.gotham-book{
  font-family: 'Gotham Book';
}
.gotham-e-light{
  font-family: 'Gotham Extra Light';
}
.gotham-light{
  font-family: 'Gotham Light';
}
.cartoonist{
  font-family: 'Cartoonist Kooky' !important;
}

/**
 * SIDEBAR NAVIGATION
 */

.sidenav-container ul.dropdown{
   display: none;
}
.sidenav-container {
    float: left;
    position: relative;
    margin: 115px -2px 0 0;
    min-height: -webkit-fill-available;
    z-index: 1;
  	background-color: #435c90;
  	color: white;
  	font-family: 'Gotham Bold';
    max-width: 226px;
    padding-bottom: 284%;
}

.sidenav-header h1 {
 padding: 22px 0px 14px 14px;
 font-size: 33px;
 font-family: 'Gotham Book';
 text-transform: uppercase;
 font-weight: lighter;
}


.sidenav-container a {
    font-size: 15px;
    color: white;
  	text-align: left;
    display: block;
  	padding: 6px 16px 6px 23px;
    border-bottom: 1px groove;

}

.sidenav-container ul {
	list-style-type: none
}

.sidenav-container ul ul{
  	list-style:none;
  	background-color: #576e9a;
  	border-bottom: 1px groove;
    line-height: 20px;
}

.sidenav-container ul ul a{
    font-size: 11px;
    color: white;
    border-bottom: none;
    padding: 2px 0px 1px 29px;
    font-family: 'Gotham Book';
}


.sidenav-container a:hover {
    background-color: white;
  	color: #0e2f63;
    font-family: 'Gotham Bold';
    display: block;
}




@media (max-width: 800px){
  .sidenav-container {
   display: none;
  }
}


.sidebar-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 0 50px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  background: $background;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;

  &:focus {
    outline: none;
  }
}

.page__container--secondary .sidebar-nav {
  border-top: 1px solid $border-color;
}

.sidebar-nav--open {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.sidebar-nav__links {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-weight: 600;
  color: $heading-color;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.sidebar-nav__link {
  position: relative;
  display: block;
  padding-right: 30px;
}

.sidebar-nav__links > li {
  padding: 16px 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }
}

.sidebar-nav__link--level-1 {
  padding: 6px 0;
}

.sidebar-nav__link--level-2,
.sidebar-nav__link--level-3 {
  padding: 5px 0;
}

.sidebar-nav__sub-links {
  display: none; /* Sublinks are hidden by default */
  margin: 0 0 2px 15px;
  color: $accent-color;
}

.sidebar-nav__sub-links .sidebar-nav__sub-links {
  color: $light-text-color; /* For nested links */
}

.sidebar-nav__sub-links--visible {
  display: block;
}

.sidebar-nav__link > .plus-button-container {
  position: absolute;
  right: 0;
  top: 5px;
}

.sidebar-nav__currency {
  display: block;
  padding: 8px 0;
  font-size: 13px;
  font-size: 0.72222rem;
}

.sidebar-nav__currency .currency-selector {
  float: right;
}

.sidebar-nav .social-media {
  margin: 18px 0 42px 0;
}

.sidenav-container .title-active {
  background-color: white;
  color: #0e2f63 !important;
}

.sidenav-container ul.dropdown .title-active{
  display: block;
  font-family: 'Gotham Bold';
}

.sidenav-container i.arrow {
    border: solid #8dabdd;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: 20px;
    position: relative;
}

.sidenav-container .title-active-arrow {
    border-color: #003366 !important;
}

.sidenav-container .arrow-up {
    transform: rotate(-135deg) !important;
    -webkit-transform: rotate(-135deg) !important;
}

.sidenav-container .title-active{
  color: #003366 !important;
}
.sidenav-container .title-active-arrow{
    border-color: #003366 !important;
  }

  .hasDropdown {
    color: #a4badc;
  }

  .sidenav-container .active {
    background-color: white;
    color: #0e2f63;
    font-family: 'Gotham Bold';
  }

  .mainmenu

  .active a.head {
    color: #003366;
  }

  .sidenav-container .active ul.dropdown {
    display: block;
  }



@include av-mq('handheld-and-up') {
  .sidebar-nav {
    max-width: 400px;
  }
}
@-webkit-keyframes headerSearchCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes headerSearchCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
