{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title h1">{{ 'list_collections.general.title' | t }}</h1>
    </div>

    {% section 'list-collections-template' %}
  </div>
</div>